//
// user.scss
// Use this to write your custom SCSS
//
.navbar-brand-img, .navbar-brand > img{
  max-height: 36px;
}
.navbar-collapse:before{
  border-top-width: 0
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border-bottom-width: 2px;
    border-color: $green;
}
.bg-soft-red{
  background-color: rgba(243,163,154,1);
}
.bg-soft-ocre{
  background-color: rgba(252,232,179,1);
}
.chart-container{
  position: relative;
  margin: auto;
  height: 128px
}
.bg-green-light{
  background-color: #47E6B1
}
.bg-green{
  background-color: #22C88A
}
.bg-orange-light{
  background-color: #FFE1C5
}
.bg-red-light{
  background-color: #FDC2CC
}
.bg-pink-light{
  background-color: #f8bbd0
}
.bg-blue-light{
  background-color: #d5e5fa;
}
.bg-blue-sky{
  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-sweet-morning{
  background: #FF5F6D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-moonlit-asteroid{
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.badge-xl{
  font-size: 14px;
  padding: 8px;
  border-radius: 16px;
}
.badge-soft-success.badge-xl{
  background: #D2FFF2;
  border: 1px solid #A2F5DD;
}
.badge-soft-secondary.badge-xl{
  background: none;
  border: 1px solid #E3EBF6;
}
.modal-dialog-vertical.modal-sidebar-nav{
  max-width: 250px;
}
.btn-slide-right{
    position: absolute !important;
    right: -8px;
    top: 50% !important;
    transform: translateY(-50%) !important;
    z-index: 1 !important;
}
.btn-slide-left{
    position: absolute !important;
    left: -8px;
    top: 50% !important;
    transform: translateY(-50%) !important;
    z-index: 1 !important;
}
