//
// user.scss
// Use this to write your custom SCSS
//
.navbar-brand-img, .navbar-brand > img{
  max-height: 36px;
}
.navbar-collapse:before{
  border-top-width: 0
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border-bottom-width: 2px;
    border-color: $green;
}
.bg-soft-red{
  background-color: rgba(243,163,154,1);
}
.bg-soft-ocre{
  background-color: rgba(252,232,179,1);
}
.bg-soft-gradient-green-grey{
  background: linear-gradient(to right, #d3f4e8, #d0d4d9);
}
.chart-container{
  position: relative;
  margin: auto;
  height: 128px
}
.bg-green-light{
  background-color: #47E6B1
}
.bg-green{
  background-color: #22C88A
}
.bg-orange-light{
  background-color: #FFE1C5
}
.bg-red-light{
  background-color: #FDC2CC
}
.bg-pink-light{
  background-color: #f8bbd0
}
.bg-blue-light{
  background-color: #d5e5fa;
}
.bg-img-right {
  background-position: 110% 50%;
  background-size: 88px;
  background-repeat: no-repeat;
}
.badge-xl{
  font-size: 14px;
  padding: 8px;
  border-radius: 16px;
}
.badge-soft-success.badge-xl{
  background: #D2FFF2;
  border: 1px solid #A2F5DD;
}
.badge-soft-secondary.badge-xl{
  background: none;
  border: 1px solid #E3EBF6;
}
.badge-soft-moderate{
  color: #1200d9;
  background-color: #d0ccf7;
}
.modal-dialog-vertical.modal-sidebar-nav{
  max-width: 250px;
}
.btn-slide-right{
    position: absolute !important;
    right: -8px;
    top: 50% !important;
    transform: translateY(-50%) !important;
    z-index: 1 !important;
}
.btn-slide-left{
    position: absolute !important;
    left: -8px;
    top: 50% !important;
    transform: translateY(-50%) !important;
    z-index: 1 !important;
}

@media (max-width: 768px) {
  .avatar-xxl {
      width: 8rem;
      height: 8rem;
      font-size: 2.66667rem;
  }
}
.doughnut-chart{
  height: 256px!important;
  min-height: 256px;
  min-width: 256px
}
.main-radial-progress-chart{
  min-height: 260px;
  min-width: 260px
}
.main-radial-progress-chart svg {
 width: 250;
 max-width: 300px;
}
.main-radial-progress-chart.week {
 text-align: center;
}
.main-radial-progress-chart > .date {
 color: white;
 font-size: 25px;
 font-weight: 100;
 text-align: center;
 margin-bottom: 15px;
}
.main-radial-progress-chart > .circle {
 margin: 3px auto;
 border-radius: 50%;
 width: 27px;
 height: 27px;
 line-height: 27px;
 text-align: center;
 color: #565656;
 font-size: 14px;
 font-weight: 300;
}
.main-radial-progress-chart > .active {
 color: white;
 background-color: #fa1654 !important;
}
.container-progress-gauge div {
  display: inline-block;
  width: 64px;
}
.rbc-center-text {
  fill: #95AAC9;
  font-size: 14px;
  font-weight: bold;
}
#chart-tooltip{
  z-index: 1060;
}
