<h6 class="header-pretitle text-dark mb-4">Everyday benefits</h6>
<div class="row mb-4">
  <div class="col-auto">

    <div class="btn btn-rounded-circle badge-soft-danger">
      🎯
    </div>

  </div>
  <div class="col ml-n2">
    <h2 class="card-title mb-1 h4 text-dark">
      Goal-oriented app
    </h2>

    <p class="card-text small text-dark mb-1">
      Trying to lose fat? Eat a more nutrient dense diet? We’ll keep you on track.
    </p>

  </div>
</div>
<div class="row mb-4">
  <div class="col-auto">

    <div class="btn btn-rounded-circle badge-soft-success">
      🦄
    </div>

  </div>
  <div class="col ml-n2">
    <h2 class="card-title mb-1 h4 text-dark">
      Nutrient dense recipes
    </h2>

    <p class="card-text small text-dark mb-1">
      Enjoy +150 professional curated recipes fit for your goals or create your own.
    </p>

  </div>
</div>
<div class="row mb-4">
  <div class="col-auto">

    <div class="btn btn-rounded-circle badge-soft-primary">
      🔄
    </div>

  </div>
  <div class="col ml-n2">
    <h2 class="card-title mb-1 h4 text-dark">
      Food equivalents
    </h2>

    <p class="card-text small text-dark mb-1">
      How much fruit can you have and stay under your carb limit? We’ll tell you.
    </p>

  </div>
</div>
<div class="row mb-4">
  <div class="col-auto">

    <div class="btn btn-rounded-circle badge-soft-warning">
      ⏰
    </div>

  </div>
  <div class="col ml-n2">
    <h2 class="card-title mb-1 h4 text-dark">
      Fasting timer
    </h2>

    <p class="card-text small text-dark mb-1">
      What you eat matters, but when you eat is also very important. Find a pattern that works for you.
    </p>

  </div>
</div>
<div class="row mb-4">
  <div class="col-auto">

    <div class="btn btn-rounded-circle badge-soft-danger">
      🧠
    </div>

  </div>
  <div class="col ml-n2">
    <h2 class="card-title mb-1 h4 text-dark">
      Free expert consult
    </h2>

    <p class="card-text small text-dark mb-1">
      Nearly everyone has questions about nutrition so please have a chat with our PhD’s - they’re here to help!
    </p>

  </div>
</div>
<div class="row mb-6">
  <div class="col-auto">

    <div class="btn btn-rounded-circle badge-soft-success">
      🧪
    </div>

  </div>
  <div class="col ml-n2">
    <h2 class="card-title mb-1 h4 text-dark">
      Cutting-edge food scores
    </h2>

    <p class="card-text small text-dark mb-1">
      Nutrita’s food scores help you follow a ketogenic diet, eat nutrient dense and keep insulin low for health and longevity.
    </p>

  </div>
</div>
