<h6 class="header-pretitle text-dark mb-4">Everyday benefits</h6>
<div class="row mb-4">
  <div class="col-auto">

    <div class="btn btn-rounded-circle badge-soft-danger">
      🎯
    </div>

  </div>
  <div class="col ml-n2">
    <h2 class="card-title mb-1 h4 text-dark">
      Goal-oriented app
    </h2>

    <p class="card-text small text-dark mb-1">
      Trying to lose fat? Eat a more nutrient dense diet? We’ll keep you on track.
    </p>

  </div>
</div>
<div class="row mb-4 d-none">
  <div class="col-auto">

    <div class="btn btn-rounded-circle badge-soft-success">
      🦄
    </div>

  </div>
  <div class="col ml-n2">
    <h2 class="card-title mb-1 h4 text-dark">
      Nutrient dense recipes
    </h2>

    <p class="card-text small text-dark mb-1">
      Enjoy +150 professional curated recipes fit for your goals or create your own.
    </p>

  </div>
</div>
<div class="row mb-4 d-none">
  <div class="col-auto">

    <div class="btn btn-rounded-circle badge-soft-primary">
      🔄
    </div>

  </div>
  <div class="col ml-n2">
    <h2 class="card-title mb-1 h4 text-dark">
      Food equivalents
    </h2>

    <p class="card-text small text-dark mb-1">
      How much fruit can you have and stay under your carb limit? We’ll tell you.
    </p>

  </div>
</div>
<div class="row mb-4 d-none">
  <div class="col-auto">

    <div class="btn btn-rounded-circle badge-soft-warning">
      ⏰
    </div>

  </div>
  <div class="col ml-n2">
    <h2 class="card-title mb-1 h4 text-dark">
      Fasting timer
    </h2>

    <p class="card-text small text-dark mb-1">
      What you eat matters, but when you eat is also very important. Find a pattern that works for you.
    </p>

  </div>
</div>
<div class="row mb-4">
  <div class="col-auto">

    <div class="btn btn-rounded-circle badge-soft-danger">
      🧠
    </div>

  </div>
  <div class="col ml-n2">
    <h2 class="card-title mb-1 h4 text-dark">
      Free expert consult
    </h2>

    <p class="card-text small text-dark mb-1">
      Questions about diet and health are complicated, so make sure you benefit from some expertise by booking a call with our PhDs.
    </p>

  </div>
</div>
<div class="row mb-4">
  <div class="col-auto">

    <div class="btn btn-rounded-circle badge-soft-danger">
      🧪
    </div>

  </div>
  <div class="col ml-n2">
    <h2 class="card-title mb-1 h4 text-dark">
      Micronutrient tracking
    </h2>

    <p class="card-text small text-dark mb-1">
      Track your micronutrient intake and see if you're low in certain vitamins or minerals. Easily find foods with lots of the nutrients you're leaving out using our curated food lists.
    </p>

  </div>
</div>
<div class="row mb-6">
  <div class="col-auto">

    <div class="btn btn-rounded-circle badge-soft-success">
      🔌
    </div>

  </div>
  <div class="col ml-n2">
    <h2 class="card-title mb-1 h4 text-dark">
      3rd party connectivity
    </h2>

    <p class="card-text small text-dark mb-1">
      Upload your daily macros from Nutrita Pro to your Fitbit.
    </p>

  </div>
</div>
