<nav class="navbar navbar-expand-lg navbar-light px-3 mb-2 mb-md-5 bg-white fixed-top d-none d-lg-flex" id="topnav">
  <div class="container">
    <div class="row w-100">
      <div class="col-auto d-flex align-items-center">
        <!-- Brand -->
        <a class="text-dark" href="#" data-toggle="modal" data-target="#sidebarModalUserConnected"><i class="fe fe-menu mr-3 h1 mb-0"></i></a>
        <a class="navbar-brand mr-auto d-flex align-items-center" href="dashboard-full_3.html">
          <img src="assets/img/logo.svg" alt="..." class="navbar-brand-img">
          <span class="text-secondary ml-2 h3 mb-0">Nutrita</span>
        </a>
      </div>
      <div class="col-auto d-flex align-items-center mx-3">
        <button class="btn btn-lg btn-white d-none d-xl-flex" type="button" name="button">Today</button>
        <button class="btn btn-link btn-lg text-dark" type="button" name="button" data-toggle="modal" data-target="#modalCalendar"><i class="fe fe-calendar mr-2"></i>June 2020 <span class="badge badge-light">Week 24</span> <i class="fe fe-chevron-down ml-2"></i></button>
      </div>
      <div class="col-auto d-none ml-auto d-lg-flex justify-content-end align-items-center">
        <a class="btn btn-link btn-lg text-dark mr-3" href="search-zero-state.html">
          <i class="fe fe-search h3 mb-0"></i>
        </a>
        <a class="btn btn-lg btn-success mr-3" href="#" data-toggle="modal" data-target="#addMissingFood">
          New food
        </a>
        <div class="btn-group btn-group-lg" role="group" aria-label="Track">
          <button type="button" class="btn btn-white border-right-0" data-toggle="modal" data-target="#addNewValue">Weight</button>
          <button type="button" class="btn btn-white" data-toggle="modal" data-target="#addNewValue">Blood</button>
        </div>

      </div>

      <div class="col-auto d-flex justify-content-end">
        <div class="navbar-user">

          <!-- Dropdown -->
          <div class="dropdown mr-2 d-none d-lg-flex">

            <!-- Toggle -->
            <a href="#" class="btn btn-link text-secondary" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="icon active">
                <i class="fe fe-bell"></i>
              </span>
            </a>

            <!-- Menu -->
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-card">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Title -->
                    <h5 class="card-header-title">
                      Notifications
                    </h5>

                  </div>
                  <div class="col-auto">

                    <!-- Link -->
                    <a class="small" href="#" data-toggle="modal" data-target="#sidebarModalUserNotification" role="button">
                      View all
                    </a>

                  </div>
                </div> <!-- / .row -->
              </div> <!-- / .card-header -->
              <div class="card-body">

                <!-- List group -->
                <div class="list-group list-group-flush my-n3">
                  <a class="list-group-item px-0" href="#!">
                    <div class="row no-gutters">
                      <div class="col-auto mr-3">
                        <i class="fe fe-bell text-premium"></i>
                      </div>
                      <div class="col mr-1">
                        <!-- Content -->
                        <div class="small text-secondary">
                          Notification content on one, two or three line...
                        </div>
                      </div>
                    </div> <!-- / .row -->
                    <div class="row">
                      <div class="col text-right">
                        <small class="text-secondary h6">
                          2m
                        </small>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item px-0" href="#!">
                    <div class="row no-gutters">
                      <div class="col-auto mr-3">
                        <i class="fe fe-bell text-premium"></i>
                      </div>
                      <div class="col mr-1">
                        <!-- Content -->
                        <div class="small text-secondary">
                          Notification content on one, two or three line...
                        </div>
                      </div>
                    </div> <!-- / .row -->
                    <div class="row">
                      <div class="col text-right">
                        <small class="text-secondary h6">
                          2m
                        </small>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item px-0" href="#!">
                    <div class="row no-gutters">
                      <div class="col-auto mr-3">
                        <i class="fe fe-bell text-premium"></i>
                      </div>
                      <div class="col mr-1">
                        <!-- Content -->
                        <div class="small text-secondary">
                          Notification content on one, two or three line...
                        </div>
                      </div>
                    </div> <!-- / .row -->
                    <div class="row">
                      <div class="col text-right">
                        <small class="text-secondary h6">
                          2m
                        </small>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item px-0" href="#!">
                    <div class="row no-gutters">
                      <div class="col-auto mr-3">
                        <i class="fe fe-bell text-premium"></i>
                      </div>
                      <div class="col mr-1">
                        <!-- Content -->
                        <div class="small text-secondary">
                          Notification content on one, two or three line...
                        </div>
                      </div>
                    </div> <!-- / .row -->
                    <div class="row">
                      <div class="col text-right">
                        <small class="text-secondary h6">
                          2m
                        </small>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item px-0" href="#!">
                    <div class="row no-gutters">
                      <div class="col-auto mr-3">
                        <i class="fe fe-bell text-premium"></i>
                      </div>
                      <div class="col mr-1">
                        <!-- Content -->
                        <div class="small text-secondary">
                          Notification content on one, two or three line...
                        </div>
                      </div>
                    </div> <!-- / .row -->
                    <div class="row">
                      <div class="col text-right">
                        <small class="text-secondary h6">
                          2m
                        </small>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item px-0" href="#!">
                    <div class="row no-gutters">
                      <div class="col-auto mr-3">
                        <i class="fe fe-bell text-premium"></i>
                      </div>
                      <div class="col mr-1">
                        <!-- Content -->
                        <div class="small text-secondary">
                          Notification content on one, two or three line...
                        </div>
                      </div>
                    </div> <!-- / .row -->
                    <div class="row">
                      <div class="col text-right">
                        <small class="text-secondary h6">
                          2m
                        </small>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item px-0" href="#!">
                    <div class="row no-gutters">
                      <div class="col-auto mr-3">
                        <i class="fe fe-bell text-premium"></i>
                      </div>
                      <div class="col mr-1">
                        <!-- Content -->
                        <div class="small text-secondary">
                          Notification content on one, two or three line...
                        </div>
                      </div>
                    </div> <!-- / .row -->
                    <div class="row">
                      <div class="col text-right">
                        <small class="text-secondary h6">
                          2m
                        </small>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item px-0" href="#!">
                    <div class="row no-gutters">
                      <div class="col-auto mr-3">
                        <i class="fe fe-bell text-premium"></i>
                      </div>
                      <div class="col mr-1">
                        <!-- Content -->
                        <div class="small text-secondary">
                          Notification content on one, two or three line...
                        </div>
                      </div>
                    </div> <!-- / .row -->
                    <div class="row">
                      <div class="col text-right">
                        <small class="text-secondary h6">
                          2m
                        </small>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item px-0" href="#!">
                    <div class="row no-gutters">
                      <div class="col-auto mr-3">
                        <i class="fe fe-bell text-premium"></i>
                      </div>
                      <div class="col mr-1">
                        <!-- Content -->
                        <div class="small text-secondary">
                          Notification content on one, two or three line...
                        </div>
                      </div>
                    </div> <!-- / .row -->
                    <div class="row">
                      <div class="col text-right">
                        <small class="text-secondary h6">
                          2m
                        </small>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item px-0" href="#!">
                    <div class="row no-gutters">
                      <div class="col-auto mr-3">
                        <i class="fe fe-bell text-premium"></i>
                      </div>
                      <div class="col mr-1">
                        <!-- Content -->
                        <div class="small text-secondary">
                          Notification content on one, two or three line...
                        </div>
                      </div>
                    </div> <!-- / .row -->
                    <div class="row">
                      <div class="col text-right">
                        <small class="text-secondary h6">
                          2m
                        </small>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item px-0" href="#!">
                    <div class="row no-gutters">
                      <div class="col-auto mr-3">
                        <i class="fe fe-bell text-premium"></i>
                      </div>
                      <div class="col mr-1">
                        <!-- Content -->
                        <div class="small text-secondary">
                          Notification content on one, two or three line...
                        </div>
                      </div>
                    </div> <!-- / .row -->
                    <div class="row">
                      <div class="col text-right">
                        <small class="text-secondary h6">
                          2m
                        </small>
                      </div>
                    </div>
                  </a>

                </div>

              </div>
            </div> <!-- / .dropdown-menu -->

          </div>

          <!-- Dropdown -->
          <div class="dropdown">

            <!-- Toggle -->
            <a href="#" class="avatar avatar-sm avatar-online dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="https://pbs.twimg.com/profile_images/1046781704608915458/5xxk-UR7_400x400.jpg" alt="..." class="avatar-img rounded-circle">
            </a>

            <!-- Menu -->
            <div class="dropdown-menu dropdown-menu-right">
              <a href="profile.html" class="dropdown-item">Profile</a>
              <a href="settings.html" class="dropdown-item">Settings</a>
              <a href="invite.html" class="dropdown-item">Subscription discount</a>
              <hr class="dropdown-divider">
              <a href="index.html" class="dropdown-item">Log out</a>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div> <!-- / .container -->
</nav>
<nav class="navbar navbar-expand-lg navbar-light py-2 px-3 mb-lg-5 bg-white fixed-top d-block d-lg-none" id="topnav" style="">
  <div class="row">
    <div class="col d-flex align-items-center">
      <!-- Brand -->
      <a class="text-dark" href="#" data-toggle="modal" data-target="#sidebarModalUserConnected"><i class="fe fe-menu mr-3 h1 mb-0"></i></a>
      <a class="navbar-brand d-flex align-items-center" href="dashboard-full_3.html">
        <span class="text-dark  h3 mb-0">Dashboard</span>
      </a>
    </div>
    <div class="col-auto ml-auto">
      <button class="btn btn-link text-dark btn-lg px-2" type="button" name="button" data-toggle="modal" data-target="#modalCalendar"><i class="fe fe-calendar"></i></button>
    </div>
    <div class="col-auto d-flex justify-content-end">
      <div class="navbar-user">

        <!-- Dropdown -->
        <div class="dropdown mr-2 d-none d-lg-flex">

          <!-- Toggle -->
          <a href="#" class="btn btn-link text-secondary" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="icon active">
              <i class="fe fe-bell"></i>
            </span>
          </a>

          <!-- Menu -->
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col">

                  <!-- Title -->
                  <h5 class="card-header-title">
                    Notifications
                  </h5>

                </div>
                <div class="col-auto">

                  <!-- Link -->
                  <a class="small" href="#" data-toggle="modal" data-target="#sidebarModalUserNotification" role="button">
                    View all
                  </a>

                </div>
              </div> <!-- / .row -->
            </div> <!-- / .card-header -->
            <div class="card-body">

              <!-- List group -->
              <div class="list-group list-group-flush my-n3">
                <a class="list-group-item px-0" href="#!">
                  <div class="row no-gutters">
                    <div class="col-auto mr-3">
                      <i class="fe fe-bell text-premium"></i>
                    </div>
                    <div class="col mr-1">
                      <!-- Content -->
                      <div class="small text-secondary">
                        Notification content on one, two or three line...
                      </div>
                    </div>
                  </div> <!-- / .row -->
                  <div class="row">
                    <div class="col text-right">
                      <small class="text-secondary h6">
                        2m
                      </small>
                    </div>
                  </div>
                </a>
                <a class="list-group-item px-0" href="#!">
                  <div class="row no-gutters">
                    <div class="col-auto mr-3">
                      <i class="fe fe-bell text-premium"></i>
                    </div>
                    <div class="col mr-1">
                      <!-- Content -->
                      <div class="small text-secondary">
                        Notification content on one, two or three line...
                      </div>
                    </div>
                  </div> <!-- / .row -->
                  <div class="row">
                    <div class="col text-right">
                      <small class="text-secondary h6">
                        2m
                      </small>
                    </div>
                  </div>
                </a>
                <a class="list-group-item px-0" href="#!">
                  <div class="row no-gutters">
                    <div class="col-auto mr-3">
                      <i class="fe fe-bell text-premium"></i>
                    </div>
                    <div class="col mr-1">
                      <!-- Content -->
                      <div class="small text-secondary">
                        Notification content on one, two or three line...
                      </div>
                    </div>
                  </div> <!-- / .row -->
                  <div class="row">
                    <div class="col text-right">
                      <small class="text-secondary h6">
                        2m
                      </small>
                    </div>
                  </div>
                </a>
                <a class="list-group-item px-0" href="#!">
                  <div class="row no-gutters">
                    <div class="col-auto mr-3">
                      <i class="fe fe-bell text-premium"></i>
                    </div>
                    <div class="col mr-1">
                      <!-- Content -->
                      <div class="small text-secondary">
                        Notification content on one, two or three line...
                      </div>
                    </div>
                  </div> <!-- / .row -->
                  <div class="row">
                    <div class="col text-right">
                      <small class="text-secondary h6">
                        2m
                      </small>
                    </div>
                  </div>
                </a>
                <a class="list-group-item px-0" href="#!">
                  <div class="row no-gutters">
                    <div class="col-auto mr-3">
                      <i class="fe fe-bell text-premium"></i>
                    </div>
                    <div class="col mr-1">
                      <!-- Content -->
                      <div class="small text-secondary">
                        Notification content on one, two or three line...
                      </div>
                    </div>
                  </div> <!-- / .row -->
                  <div class="row">
                    <div class="col text-right">
                      <small class="text-secondary h6">
                        2m
                      </small>
                    </div>
                  </div>
                </a>
                <a class="list-group-item px-0" href="#!">
                  <div class="row no-gutters">
                    <div class="col-auto mr-3">
                      <i class="fe fe-bell text-premium"></i>
                    </div>
                    <div class="col mr-1">
                      <!-- Content -->
                      <div class="small text-secondary">
                        Notification content on one, two or three line...
                      </div>
                    </div>
                  </div> <!-- / .row -->
                  <div class="row">
                    <div class="col text-right">
                      <small class="text-secondary h6">
                        2m
                      </small>
                    </div>
                  </div>
                </a>
                <a class="list-group-item px-0" href="#!">
                  <div class="row no-gutters">
                    <div class="col-auto mr-3">
                      <i class="fe fe-bell text-premium"></i>
                    </div>
                    <div class="col mr-1">
                      <!-- Content -->
                      <div class="small text-secondary">
                        Notification content on one, two or three line...
                      </div>
                    </div>
                  </div> <!-- / .row -->
                  <div class="row">
                    <div class="col text-right">
                      <small class="text-secondary h6">
                        2m
                      </small>
                    </div>
                  </div>
                </a>
                <a class="list-group-item px-0" href="#!">
                  <div class="row no-gutters">
                    <div class="col-auto mr-3">
                      <i class="fe fe-bell text-premium"></i>
                    </div>
                    <div class="col mr-1">
                      <!-- Content -->
                      <div class="small text-secondary">
                        Notification content on one, two or three line...
                      </div>
                    </div>
                  </div> <!-- / .row -->
                  <div class="row">
                    <div class="col text-right">
                      <small class="text-secondary h6">
                        2m
                      </small>
                    </div>
                  </div>
                </a>
                <a class="list-group-item px-0" href="#!">
                  <div class="row no-gutters">
                    <div class="col-auto mr-3">
                      <i class="fe fe-bell text-premium"></i>
                    </div>
                    <div class="col mr-1">
                      <!-- Content -->
                      <div class="small text-secondary">
                        Notification content on one, two or three line...
                      </div>
                    </div>
                  </div> <!-- / .row -->
                  <div class="row">
                    <div class="col text-right">
                      <small class="text-secondary h6">
                        2m
                      </small>
                    </div>
                  </div>
                </a>
                <a class="list-group-item px-0" href="#!">
                  <div class="row no-gutters">
                    <div class="col-auto mr-3">
                      <i class="fe fe-bell text-premium"></i>
                    </div>
                    <div class="col mr-1">
                      <!-- Content -->
                      <div class="small text-secondary">
                        Notification content on one, two or three line...
                      </div>
                    </div>
                  </div> <!-- / .row -->
                  <div class="row">
                    <div class="col text-right">
                      <small class="text-secondary h6">
                        2m
                      </small>
                    </div>
                  </div>
                </a>
                <a class="list-group-item px-0" href="#!">
                  <div class="row no-gutters">
                    <div class="col-auto mr-3">
                      <i class="fe fe-bell text-premium"></i>
                    </div>
                    <div class="col mr-1">
                      <!-- Content -->
                      <div class="small text-secondary">
                        Notification content on one, two or three line...
                      </div>
                    </div>
                  </div> <!-- / .row -->
                  <div class="row">
                    <div class="col text-right">
                      <small class="text-secondary h6">
                        2m
                      </small>
                    </div>
                  </div>
                </a>

              </div>

            </div>
          </div> <!-- / .dropdown-menu -->

        </div>

        <!-- Dropdown -->
        <div class="dropdown">

          <!-- Toggle -->
          <a href="#" class="avatar avatar-sm avatar-online dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="https://pbs.twimg.com/profile_images/1046781704608915458/5xxk-UR7_400x400.jpg" alt="..." class="avatar-img rounded-circle">
          </a>

          <!-- Menu -->
          <div class="dropdown-menu dropdown-menu-right">
            <a href="profile.html" class="dropdown-item">Profile</a>
            <a href="settings.html" class="dropdown-item">Settings</a>
            <a href="invite.html" class="dropdown-item">Subscription discount</a>
            <hr class="dropdown-divider">
            <a href="index.html" class="dropdown-item">Log out</a>
          </div>

        </div>

      </div>
    </div>
  </div> <!-- / .container -->
</nav>
