<h6 class="header-pretitle text-dark mb-4">Don’t just take our word for it</h6>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators mb-n2">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card" style="min-height: 200px">
        <div class="card-body">
          <div class="row justify-content-start align-items-center mb-3">
            <img src="assets/img/star-24px.svg" alt="star">
            <img src="assets/img/star-24px.svg" alt="star">
            <img src="assets/img/star-24px.svg" alt="star">
            <img src="assets/img/star-24px.svg" alt="star">
            <img src="assets/img/star_half-24px.svg" alt="star half">
            <span class="text-dark ml-2">5 by <a href="#"><small>Fahad Ahmad &bull; Founder of Ketogeek</small></a></span>
          </div>
          <p class="card-text">
            I like being lazy. Nutrita makes me smart and lazy. That’s how I boost productivity  and can chase experiences in life knowing all my information is easily tracked for me.
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card" style="min-height: 200px">
        <div class="card-body">
          <div class="row justify-content-start align-items-center mb-3">
            <img src="assets/img/star-24px.svg" alt="star">
            <img src="assets/img/star-24px.svg" alt="star">
            <img src="assets/img/star-24px.svg" alt="star">
            <img src="assets/img/star-24px.svg" alt="star">
            <img src="assets/img/star_half-24px.svg" alt="star half">
            <span class="text-dark ml-2">5 by <a href="#"><small>Andrew Louro &bull; Nutrita Pro user</small></a></span>
          </div>
          <p class="card-text">
            I must say however, I am very impressed with firstly your customer support and also with the level of input into the quality of the food entries and various scores, in my opinion this puts Nutrita in pole position among tracking apps, I don’t know of any other that offers well researched and meaningful food scores, much less accurate entries in the food data base. As I said customer support, amazing, especially the free consult with Raphael.
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card" style="min-height: 200px">
        <div class="card-body">
          <div class="row justify-content-start align-items-center mb-3">
            <img src="assets/img/star-24px.svg" alt="star">
            <img src="assets/img/star-24px.svg" alt="star">
            <img src="assets/img/star-24px.svg" alt="star">
            <img src="assets/img/star-24px.svg" alt="star">
            <img src="assets/img/star_half-24px.svg" alt="star half">
            <span class="text-dark ml-2">5 by <a href="#"><small>Ernie B-au &bull; Nutrita Pro user</small></a></span>
          </div>
          <p class="card-text">
            A BIG THANKS !<br>
            I love my Nutrita App ! , it has been my essential toolkit to get my health back on track.  Learning what to eat to regain health has been fundamental in Reversing my Pre diabetes and maintaining my Blood Sugar control, the App makes it SO EASY to make the right choices with food. If I stray off my daily nutritional intake the App quickly identifies how to get back by suggesting foods to boost the mineral or Vitamin that was less than normal.<br>
            The recipe options makes meal choices so easy....everything set out for you...and so many are delicious and filling.<br>
            After using it for 7 months now....it has been such a valuable resource for me.<br>
            Highly recommended by ME !<br>
            Well done to Raphael and the team !
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
